<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sky</title>
</head>
<body>
{% block navbar %}
<nav>
    <div>
        <h1>سپهر</h1>
    </div>
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item ">
                <a class="nav-link" href="#">اضافه کردن پست</a>
            </li>
        </ul>
    </div>

</nav>
{% endblock%}
{% block container %}
{% endblock%}
{% block footer %}
<footer>
    <p> کلیه حقوق این سایت متعلق به موسسه سپهر است &copy</p>
</footer>
{% endblock%}
</body>
</html>