{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}
<link href="{% static 'blog/css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block container %}
<div class="posts">
    {% for post in post_list %}
    <div class="mypost">
        <div class="card" id=">{{ post.id }}" style="width: 25rem;">
            <div class="card-body">
                <img class="post_image" src="{{ post.image.url}}">
                <div class="card-img-overlay" id="-{{ post.id }}" style="display:none;">
                    <p class="card-text">
                        <a class="navbar-brand" href="{% url 'blog:post' post.pk %}" style="color:white;">
                            {{ post.title }}
                        </a>

                    </p>
                </div>
            </div>

        </div>
        <div class="state" id="{{ post.id }}" style="display:flex;justify-content:space-around;background-color:white;margin-left: 20px;margin-right: 20px;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;">
            <i class="far fa-thumbs-up mylikes" style="margin-top: 5px;"></i>
            <div class="likeCounter">{{ post|like_counter }}</div>
            <i class="far fa-thumbs-down mydislikes" style="margin-top: 5px;"></i>
            <div class="dislikeCounter">{{ post|dislike_counter }}</div>
            <div class="LikeOrDislike" style="display: none"
                 id="{{ post|liked_or_disliked:request.user }}"></div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{% csrf_token %}
<script src="{% static 'blog/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'blog/js/index.js' %}"></script>
{% endblock %}
