{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

<body>
{% block container %}
<form id="post-form" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <table>
        {{ post_form|bootstrap }}
        {{ tag_form|bootstrap }}
    </table>
    <input type="submit" value="ایجاد" class="btn-primary">
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'blog/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'blog/js/autocomplete.js' %}"></script>
{% endblock %}
</body>
</html>