{% extends 'base.html' %}
{% load static %}

<body>
{% block container %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<div class="card-deck">
        <div class="card-group">
            <div class="card">
                {% if user.profile_image %}
                <img src="{{ user.profile_image.url}}" alt="connect" style="max-height:300px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <p class="card-text">{{ user.birthdate}}</p>
                </div>
            </div>
        </div>
</div>
{% endblock %}

</body>
