.content{
    display: flex;
    position: absolute;
    left: 180px;
    top: 150px;
    width: 1200px;
    flex-direction: column;
    height: 550px;
    overflow: auto;
    align-items: center;
}
.post_title{
   height: 90%;
    width: 70%;
    background-color: #0d4851;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffdb4c;
    font-size: 22;
    font-weight: bold;
}
.post_title_box{
    height: 10%;
    background-color: #0d4851;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
}
.myprof{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.posts{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    direction: initial;
}
.post_image{
    vertical-align: middle;
    width: 100%;
    height: inherit;

}
.card-img-overlay:hover{
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    opacity: 0.5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: none;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: max-content;
    margin: 20px;
}
.left{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right{
  width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #0d4851;
    margin-left: 20px;
}
.left-top{
    width: 100%;
}
.Profile_image{
    width: inherit;
    padding: 50px;
    background-color: #0d4851;
    display: flex;
    justify-content: center;
}
.Profile_image img{
    max-width: 100%;
    max-height: 100%;
}
.left-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    margin-top: 15px;
}
.email_label{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;

}
.email{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.fname{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    height: 20%;
    justify-content: center;
}
.lname{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    height: 20%;
    justify-content: center;
}
.username_table{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    height: 20%;
    justify-content: center;
}
.birthdate_table{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    height: 20%;
    justify-content: center;
}
.status{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    background-color: #0d4851;
    height: 20%;
    justify-content: space-around;
}
.first_name_label{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
}
.first_name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.last_name_label{
     display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
}
.last_name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.username_label{
     display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
}
.username{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.birthdate_label{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
}
.birthdate{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
}
label{
 font-weight: bold;
    color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 20 0 20;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.activation{
    display: flex;
    justify-content: center;
    background-color: #ccc;
}